extends ../base.pug

block content
  h4 Edit Video
  form(method="post")
    input(name="title", placeholder="Video Title", value=video.title, required)
    input(name="description", placeholder="description", required, type="text",value=video.description)
    input(name="hashtags", placeholder="hashtags", required, type="text", value=video.hashtags.join())
    input(type="submit", value="edit video")