extends ../base.pug
block content
    div
        video#preview
        button#startBtn Start recording
    if errorMessage
        span=errorMessage
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", required, id="video", name="video")
        input(name="title", placeholder="title", required, type="text")
        input(name="description", placeholder="description", required, type="text")
        input(name="hashtags", placeholder="hashtags", required, type="text")
        input(type="submit", value="upload")

block scripts
    script(src="/assets/js/recorder.js") 