//- mixin: Data를 받을 수 있는 일종의 미리 만들어진 HTML block.
mixin videoMixin(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.username} • 
                span #{video.meta.views} 회