//- mixin: Data를 받을 수 있는 일종의 미리 만들어진 HTML block.
mixin videoMixin(video)
    div
        h4
            a(href=`/videos/${video.id}`)=video.title
        ul
            li #{video.rating}/5
            li #{video.views} views.
            li id: #{video.id}