extends base.pug
include mixins/video
//- mixin data를 넣어줘야함

block content
  h2 welcome here you will see the trending videos
  each video in videos
    +videoMixin(video)
  else
    li sorry nothing found.