extends ../base

block content
    form(method="POST")
        span=errorMessage
        input(type ="password", name="prePassword",required, placeholder="previus password")
        input(type ="password", name="newPassword",required, placeholder="new password")
        input(type ="password", name="conPassword",required, placeholder="confirm new password")
        input(type="submit", value="Change password")